
body {
font-family: sans-serif;
background-color: #f0f9f0;
margin: 0;
padding: 20px;
}

h3, p  {
font-size: 18px;
margin: 15px 0 10px 15px;
font-weight: 600;
color: #333;
}


.talk-button {
font-size: 18px;
margin: 0px 0 10px 15px;
font-weight: 600;
color: #333;
}

.timer-card {
background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
        url('../assets/run_img.jpg') center/cover no-repeat;
color: white;
padding: 30px 20px;
border-radius: 15px;
position: relative;
text-align: left;
margin: 15px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
height: 100px;
display: flex;
flex-direction: column;
justify-content: center;
}
.timer-card h2 {
font-size: 16px;
margin: 0;
font-weight: normal;
}

.timer-card .time {
font-size: 32px;
margin-top: 10px;
font-weight: bold;
}

.play-button {
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
background: #e7b147;
border: none;
border-radius: 50%;
width: 40px;
height: 40px;
color: white;
font-size: 20px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.user-list {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 12px;
padding: 0 15px;
}


.user-card {
background: white;
padding: 15px 10px;
border-radius: 12px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
cursor: pointer;
text-align: center;
}

.progress {
width: 97%;
margin: 10px 15px;
background: #ccc;
border-radius: 20px;
margin-top: 10px;
}

.progress>div {
background: #69c14c;
height: 15px;
border-radius: 20px;
}

.talk-button {
background: #39693c;
color: white;
padding: 10px 20px;
border-radius: 20px;
border: none;
font-size: 16px;
cursor: pointer;
}