<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttuikong.spring.model.dao.RunDao">

  <update id="updateImageUrl">
    UPDATE route
    SET image_url = #{imageUrl}
    WHERE user_id = #{userId}
      AND start_time = #{startTime}
  </update>

  <insert id="insertRunningStatus">
    INSERT INTO route (user_id, start_time, status)
    VALUES (#{userId}, #{startTime}, #{status})
  </insert>

  <update id="updateRunRecord">
    UPDATE route
    SET end_time = #{endTime},
        distance = #{distance},
        duration = #{duration},
        status = 'ended'
    WHERE user_id = #{userId} AND start_time = #{startTime}
  </update>
  
</mapper>
